<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_profile.user %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @users_profile.profile %>
</p>

<%= link_to 'Edit', edit_users_profile_path(@users_profile) %> |
<%= link_to 'Back', users_profiles_path %>
